<section>
    <div class="grid signInPage">
        <div class="col-6 signForm">
            <div class="signIN">
                <div class="signFormLogo">
                    <!-- <img src="../../assets/Frame.svg" alt=""> -->
                </div>
                <span class="signInHeader" appHighlightOnHover>Sign In</span>
                <div class="signInput">
                    <form action="" #myform="ngForm">
                        <div class="inputField1">
                            <label>Email ID</label>
                            <input pInputText id="email" aria-describedby="username-help" name="email"
                                placeholder="Email" [(ngModel)]="email" />
                        </div>
                        <div class="inputField1">
                            <label htmlFor="username">Password</label>
                            <input pInputText id="password" type="password" aria-describedby="username-help"
                                placeholder="Password" name="password" [(ngModel)]="password" />
                            <span><a routerLink="/forgot-mail">Forgot Password ?</a></span>
                        </div>
                        <div class="button-sign">
                            <p-button label="Sign In" (click)="login(myform.value)"></p-button>
                        </div>
                        <div appHighlightOnHover>
                            Hover over me to see the effect!
                        </div>
                        <div class="signInLink">Don't have an Account? <a routerLink="">Sign Up</a></div>
                    </form>
                </div>
                <div>
                    <div class="para">
                        <p>
                            By Creating an account,you agree to our <a href="">Terms of service</a> and <a
                                href="">Privacy Policy</a>
                        </p>
                    </div>
                    <div class="CopyRightsPara">
                        © 2022 NOQU. All rights reserved.
                        
                    </div>
                </div>
            </div>
            <!-- {{myform.value|json}} -->
        </div>
        <div class="col-6 signInImage">
            <!-- <img src="../../assets/Group 6 (1).png" alt=""> -->
        </div>
    </div>

</section>



<router-outlet></router-outlet>

<!-- <p-toast position="top-center"></p-toast> -->